<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Leitor de Código de Barra</title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  
  <body ng-app="leitor">
    <ion-pane>
      <ion-content style="text-align: center"ng-controller="leitorController">
        
        <div class="item">
          <img src="img/ionic.png">
          <h2>Leitor de Código de Barra</h2>
          <p>Escaneia um código de barra</p>
        </div>

        <div class="item">
          <button class="button button-block button-positive" ng-click="lerCodigo()"> Escanear </button>
        </div>

        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Nome do Produto</span>
            <input type="text" placeholder="Nome" data-ng-model="fsName">
          </label>
          <div class="button-bar" class="hide-on-keyboard-open">
          <button class="button button-positive" ng-click="insert(fsName)">Inserir</button>
          <button class="button button-energized" ng-click="edit(fsName)">Editar</button>
          <button class="button button-royal" ng-click="selectAll()">Listar</button>
          <button class="button button-assertive" ng-click="delete(fsName)">Deletar</button>
        </div>
        
        <label class="item item-input">
          <input type="text" readonly value="{{resultado}}">
        </label>

      <div class="hide-on-keyboard-open">
          <ion-list>
            <ion-item ng-repeat="product in product.list">
              {{product.firstname}}
              <ion-option-button class="button-assertive icon ion-trash-a" ng-click='delete(product.nome)'></ion-option-button>
            </ion-item>
          </ion-list>
       </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
